<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      input[type=checkbox]:checked+label span:first-of-type { background-color:
      #10B981; border-color: #10B981; color: #fff;}
      input[type=checkbox]:checked+label span:nth-of-type(2) { text-decoration:
      line-through; color: #9CA3AF;}
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://cdn.tailwindcss.com"></script>

  </head>
  <body>
    <div class="flex items-center justify-center w-screen h-screen font-medium">
      <div
        class="flex flex-grow items-center justify-center h-full text-gray-600 bg-gray-100"
      >
        <!-- Component Start -->
        <div class="max-w-full p-8 bg-white rounded-lg shadow-lg w-[34rem]">
          <div class="flex items-center mb-6">
            <svg
              class="h-8 w-8 text-indigo-500 stroke-current"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4"
              />
            </svg>
            <h4 class="font-semibold ml-3 text-lg">List of Todo's</h4>
          </div>

          <form method="post" action="/api/todo">
            <div class="flex items-center">
              <button type="submit"
                class="items-center border h-8 px-2 mt-2 text-sm font-medium rounded"
              >
                <svg
                  class="w-5 h-5 text-gray-400 fill-current"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                  />
                </svg>
              </button>
              <input
                class="flex-grow h-8 mt-2 ml-4 focus:outline-none bg-transparent font-medium"
                type="title" id="title" name="title"
                placeholder="add a new task"
              />
            </div>
          </form>
          <div>
            <% for(let i = 0; i < todos.length; i++) {%>
              <div class="flex justify-between w-[100%] py-2 px-4 my-2 bg-gray-100 rounded-lg">
                <div class="flex items-center	">
                  <input class="rounded-full" type="checkbox" id=""/>
                  <div class="ml-4 text-sm"><%= todos[i].title %></div>
                </div>
                <div class="flex">
                  <a href="" class="border border-green-500 bg-green-100 rounded-full w-8 h-8 text-center" ><span class="material-symbols-outlined text-base text-green-700 leading-8	">
                    edit
                    </span></a>
                  <a href="/api/todo/delete/<%= todos[i]._id %>" class="border border-red-500 bg-red-100 rounded-full w-8 h-8 text-center ms-3"><span class="material-symbols-outlined text-base text-red-700 leading-8	">
                    delete
                    </span></a>
                </div>
              </div>
            <% } %>
          </div>
          
        </div>
        <!-- Component End  -->
      </div>
    </div>
  </body>
</html>